Examples/OS X/Swift-AI-OSX.xcodeproj/project.xcworkspace/xcuserdata/andrea.xcuserdatad/UserInterfaceState.xcuserstate
Examples/OS X/Swift-AI-OSX.xcodeproj/xcuserdata/andrea.xcuserdatad/xcschemes/Swift-AI-OSX.xcscheme
Examples/OS X/Swift-AI-OSX.xcodeproj/xcuserdata/andrea.xcuserdatad/xcschemes/Tests.xcscheme
Examples/OS X/Swift-AI-OSX.xcodeproj/xcuserdata/andrea.xcuserdatad/xcschemes/xcschememanagement.plist
